@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --Redhero: #e02041;
  --Titulos-Principais: #13131a;
  --roboto: "Roboto", sans-serif;
  --background: #f0f0f5;
  --linha-inputs: #dcdce5;
  --Inputs: #fff;
  --Titulos-secundarios: #41414d;
  --Textos-Secundarios: #a8a8b3;
  --Textos-dark-textos-apoio: #737380;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 577px;
  margin: 64px auto;
  border-radius: 8px;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);

  padding: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container__content-left__information {
  margin-top: 64px;
  margin-bottom: 84px;
}
.container__content-left__information h1 {
  color: var(--Titulos-Principais);
  font-family: var(--roboto);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  font-weight: bold;
}

.container__content-left__information h2 {
  color: var(--Textos-dark-textos-apoio);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
}
.container__content-left__back-button img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.container__content-left__back-button,
.container__content-left__back-button:visited {
  color: var(--Titulos-secundarios);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  margin: 84px 301px 104 16px;
  text-align: center;
  display: flex;
}

.input {
  width: 448px;
  border-radius: 8px;
  border: 1.5px solid var(--linha-inputs);
  color: var(--Textos-Secundarios);
  font-family: var(--roboto);
  font-size: 18px;

  font-weight: 400;
  padding: 15px;
}

.botao {
  width: 255px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Redhero);
  color: var(--Background, #f0f0f5);
  text-align: center;
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 700;
}

.cancelar {
  height: 60px;
  padding: 21px 48px;
  border-radius: 8px;
  border: 2.5px solid var(--linha-inputs);
  color: var(--Titulos-Principais);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  margin: 16px 17px 94px 0px;
}

form input {
  margin-bottom: 10px;
}

#titulo {
  width: 448px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.5px solid var(--linha-inputs);
  background: var(--Inputs);
  color: var(--Textos-Secundarios);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
}

#descricao {
  width: 448px;
  height: 175px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.5px solid var(--linha-inputs);
  background: var(--Inputs);
  color: var(--Textos-Secundarios);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 135px;
  padding-left: 24px;
  padding-top: 19px;
}

#reais {
  width: 448px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.5px solid var(--linha-inputs);
  background: var(--Inputs);
  color: var(--Textos-Secundarios);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
}

.home {
  color: var(--Titulos-secundarios);
  font-family: var(--roboto);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-align: center;

 

  
}

.Voltar {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 0px 16px;
}
